@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

.App {
  text-align: center;
  font-family: "Press Start 2P";
}

.board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #c0c0c0;
  /* color: #fff; */
  /* border: 6px solid #FF6666; */
  border: 6px solid #66ff00;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
  /* border: 6px solid #FF6666; */
  border: 6px solid #282c34;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
